<!DOCTYPE html>
<head>
   {% load static %}
   {% load crispy_forms_tags %}
   <meta charset="UTF-8">
   <title>  Mapster  </title>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico|Dancing+Script|Roboto|Playfair+Display">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   <!-- customized css -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css' %}">
</head>


<body>

<main>
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand " href="#" style="color:white;"> Mapster </a>
        </div>

      <!-- Log in on nav -->
      <div class="collapse navbar-collapse" id="login-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><p id="" class="navbar-text" style="color:white;"> Already a member? </p></li>
          <li class="dropdown">
            <a href="{% url 'login' %}" id="" style="color:white;"> login here </a>
          </li>
        </ul>
      </div>

      </div><!-- /.container-fluid -->
    </nav>

  <!-- welcome stuff -->
  <div class="content-section">
      <div id="welcome_div" style="display: inline-block;">
        <div style="text-align: center;">
          <h1  class="header" ><strong> Mapster </strong></h1>
        </div>
        <br><br> <h2 id="slogan" class="sub-header"> <strong> The World is Yours! </strong></h2>
        <br>
        <h2 id="prototype" class="sub-header" style="color:yellow"> ( Alpha Version ) </h2>
        <br><br>
    </div>

    <!-- sign up form -->
    <div id="signup_form_div">
        <form  method="POST" style="width:auto;">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb=4"> Join now! </legend>
              {{ form|crispy }}  <!-- the vertical bar is a filter -->
          </fieldset>
         <div class="form-group">
            <button class="btn btn-online-info" type="submit"> Sign up </button>
          </div>
        </form>
    </div>
    <!-- end of sign up form -->
</div>

</main>

<!--<footer>
  <p>Report Bugs <a href="mailto:payman.khayree@gmail.com">here</a></p>
</footer> -->

</body>
